.uk-logo{
	font-weight: bold;
	margin-bottom: 0;
}
.uk-button{
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 1.4;
}
.uk-card-wrapper.uk-first-column .uk-card {
	background-color: #f7f7f7;
}